{% extends "main/index.html" %}
{% load static %}

{% block main %}
<main>
    <a href="{% url 'studio:statistics' request.user.pk %}"><h3>Get Back</h3></a>
    <div class="brand">
        <h1>Account {{ request.user.username }}</h1>
    </div>
    
    <form method="POST">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit" name="user-edit" value="1">Save</button>
    </form>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="user-delete" value="1">Delete</button>
    </form>

</main>
{% endblock %}