{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Notepad</title>

    <!-- styles and scripts  -->
    <link rel="stylesheet" href="{% static 'main/css/task.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="{% static 'main/js/script.js' %}" defer></script>
    {% block style %}{% endblock %}

</head>
<body>
    
    {% block nav %}
    <nav>
        <a href="{% url 'main:home' %}"><h2>Menu</h2></a>
        <ul>
            {% if request.user.is_authenticated %} 
                <li><a href="{% url 'main:tasks' %}">Tasks</a></li>
                <li><a href="{% url 'main:new_task' %}">Add Task</a></li>
                <li><a href="{% url 'studio:statistics' %}">Statistics</a></li>
                <li><a href="{% url 'auth:logout' %}">Log out</a></li>
            {% else %}
                <li><a href="{% url 'auth:login' %}">Log In</a></li>
                <li><a href="{% url 'auth:signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endblock %}

    {% block main %}
    <main>
        {% if request.user.is_authenticated %} 
        <div class="brand">
            <h1>Hello, {{ request.user.username }}! Create your first notes here! ...</h1>
        </div>
        <p>It's your Notepad, where you can manage your tasks.</p>
        <div class="descr">
            <span><b>Current tasks</b></span>
        </div>
        {% for n in current_notes %}
            <div class="task">
                <a href="{% url 'main:task' n.pk %}"><h4>{{ n.title }}</h4></a>
                {% if n.taskIsComplete %}<p class="task-c">Completed</p>{%else%}<p class="task-n">Not ompleted</p>{%endif%}
                <p>{{ n.dateStart }} - {{ n.dateEnd }}</p>
            </div>
        {% endfor %}
        {% else %}
        <div class="brand">
            <h1>It's your Notepad, where you can manage your tasks. just live your Ideas.</h1>
        </div>
        <p>Now you're not logged in. Create accout to start manage or log in if you already have one.</p>
        {% endif %}
    </main>
    {% endblock %}

    {% block footer %}
    <footer>
        <p>Hello</p>
    </footer>
    {% endblock %}

</body>
</html>